@charset "utf-8";

// $breakPoint: 768;

$color-01: #707070;
$color-02: #e5e5e5;
$text-color: #707070;
$text-color-02: #3c3c3c;
$text-color-03: #ff0000;
$shadow-color: rgba(112, 112, 112, 0.5);
$gutter: 20px;
$shadow-size: 4px;